.container {
    width: 90%;
    margin: auto;
}

header {
    position: relative;
    overflow: hidden;
}

header::before {
    content: '';
    width: 120%;
    height: 600px;
    border-radius: 0 0 50% 50%/ 0 0 27% 27%;
    background-color: #F9F8F6;
    position: absolute;
    z-index: -1;
    top: 0%;
    right: -10%;
}

header::after {
    content: '';
    width: 120%;
    height: 600px;
    border-radius: 0 0 50% 50%/ 0 0 27% 27%;
    background: url(../img/back-line.svg);
    position: absolute;
    z-index: 0;
    top: 0%;
    right: -10%;
}

nav .row {
    padding-top: 28px;
}

.text-boat {
    width: 45%;
    z-index: 2;

}

.img-boat {
    width: 55%;
    position: relative;
    z-index: 2;
}

nav button {
    font-family: Inter-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    color: #000000;
    background-color: #27D110;
    border: none;
    border-radius: 40px;
    padding: 0 20px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 3px 3px 0px 0px #000000;

}

h1 {
    font-family: Manrope-ExtraBold_0;
    font-size: 44px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-top: 80px;
    margin-bottom: 24px;
}

.text-boat p {
    font-family: Inter-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 40px;
}

.text-boat button {
    font-family: Inter-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    background-color: #27D110;
    border: 1px solid #000000;
    border-radius: 40px;
    align-items: center;
    display: flex;
    padding-right: 24px;
    box-shadow: 3px 3px 0px 0px #000000;

}

.star {
    padding: 14.5px 11.21px 14.5px 20px;
    margin-left: 11.21;
}

.img-boat img {
    width: 110%;
    position: relative;
    right: 10%;
    z-index: 0;
}


/* container-fluid */

.kilometres {
    width: 40%;

}

.map {
    width: 60%;
    margin-top: 118px;
}

h2 {
    font-family: Manrope-ExtraBold_0;
    font-size: 40px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-top: 70px;
    margin-bottom: 23px;
}

.kilometres .kilometres-header p {
    font-family: Inter-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 37px;
}

.round-icon {
    width: 8px;
    height: 8px;
    background-color: #FF7A00;
    border-radius: 50%;
    box-shadow: 0px 0px 0 8px #FF237F33;
    margin-top: 5px;
}

.Manama {
    width: 191px;
    border-radius: 12px;
    border: 1px solid #00000033;
    padding: 12px 16px;
    box-shadow: 6px 6px 0px 0px #00000033;
}

.Manama p:nth-child(2) {
    font-family: Manrope-Bold_0;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #636A76;
    margin-left: 18px;
}

.Manama p:nth-child(3) {
    font-family: Sora-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
    margin-left: 24px;
    margin-bottom: 12px;
}

.Duabi {
    width: 150px;
    border-radius: 12px;
    border: 1px solid #00000033;
    margin-left: 22px;
    box-shadow: 6px 6px 0px 0px #00000033;
    padding: 12px 16px;

}

.round-second-icon {
    width: 8px;
    height: 8px;
    background-color: #FF7A00;
    border-radius: 50%;
    box-shadow: 0px 0px 0 8px #FF237F33;
    margin-top: 5px;
}


.Manama img {
    margin-bottom: 12px;
}

.Manama p:nth-child(5) {
    font-family: Manrope-Bold_0;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #636A76;
    margin-bottom: 3px;

}

.Manama p:nth-child(6) {
    font-family: Sora-SemiBold;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
}

.Duabi P:nth-child(2) {
    font-family: Manrope-Bold_0;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #636A76;
    margin-left: 18px;

}

.Duabi p:nth-child(3) {
    font-family: Sora-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
    margin-left: 25px;
    margin-bottom: 12px;
}

.Duabi p:nth-child(5) {
    font-family: Manrope-Bold_0;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #636A76;
    margin-bottom: 2px;
}

.Duabi img {
    margin-bottom: 12px;
}

.Duabi p:nth-child(6) {
    font-family: Sora-SemiBold;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
}

.Manama-to-Haifa {
    width: 261px;
    border: 4px dashed #00000080;
    height: 50px;
    margin: 5px 26px;
    border-radius: 0 0 25px;
    border-top: none;

}

.Duabi-to-Haifa {
    width: 261px;
    border: 4px dashed #00000080;
    height: 44px;
    border-top: none;
    border-bottom: none;
    margin-left: 26px;
    margin-top: -2px;
    border-right: none;
    position: relative;

}

.Duabi-to-Haifa::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/Polygon\ 1.svg);
    position: absolute;
    bottom: 40px;
    left: -12px;
}

.Duabi-to-Haifa::after {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/Polygon\ 2.svg);
    position: absolute;
    bottom: 40px;
    left: 100px;

}

video{
    width: 100%;
}



.Haifa {
    width: 361px;
    border-radius: 12px;
    border: 1px solid #000000;
    box-shadow: 6px 6px 0px 0px #000000;
    padding: 14px 20px;
}

.Haifa p {
    font-family: Manrope-Bold_0;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #636A76;
    margin-left: 22px;
    margin-top: 3px;
}

.Haifa>p {
    font-family: Sora-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
    margin-left: 45px;
}

/* section */

.Shipping {
    width: 582px;
    margin: auto;

}

h3 {
    font-family: Manrope-ExtraBold_0;
    font-size: 40px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    margin-top: 132px;
    margin-bottom: 48px;
}

.road {
    width: 387px;
    border-radius: 24px;
    padding: 0 0 36px 36px;
    background-color: #F9F8F6;
    margin-bottom: 140px;
}

.Ocean {
    width: 387px;
    border-radius: 24px;
    background-color: #F9F8F6;
    margin-left: 40px;
    padding-left: 36px;
    margin-bottom: 138px;

}

.track {
    margin-left: 38px;
    border-radius: 24px;
    margin-bottom: 58px;

}

.boat {
    margin-bottom: 58px;
    margin-left: 40px;
    width: 89%;
}

.road p {
    font-family: Manrope-SemiBold_0;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.Ocean p {
    font-family: Manrope-SemiBold_0;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

/* section-2 */

.contact {
    background-color: #E8F0FD99;
    padding: 64px 80px;
    border-radius: 30px;
}

.contact-text {
    width: 55%;
}

.contact-img {
    width: 45%;
}

h4 {
    font-family: Manrope-ExtraBold_0;
    font-size: 40px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 8px;
}



.contact-text p {
    font-family: Manrope-Medium_0;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #000000CC;
    margin-bottom: 56px;
}

form {
    position: relative;
}

.full-name {
    border: none;
    border-bottom: 2px solid #C1C9D7;
    background-color: transparent;
    padding: 12px 0;
    width: 483px;
    font-family: Manrope-SemiBold_0;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.02em;
    outline: none;
    margin-bottom: 26px;

}

.form-name {
    position: absolute;
    top: 12px;
    left: 0px;
    cursor: text;
    transition: top 200ms ease-in, font-size 200ms ease-in;
    font-family: Manrope-Medium_0;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;

}

.full-name:focus~.form-name,
.full-name:not(:placeholder-shown).full-name:not(:focus)~.form-name {
    top: -8px;
    font-family: Manrope-Medium_0;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: left;

}

.full-name:focus {
    border-bottom: 2px solid #27D110;
}



.email {
    width: 229.5px;
    border: none;
    border-bottom: 2px solid #C1C9D7;
    background-color: transparent;
    padding: 12px 0;
    outline: none;
    font-family: Manrope-SemiBold_0;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.02em;
    margin-bottom: 26px;

}

.label-email {
    position: absolute;
    top: 24%;
    left: 0px;
    cursor: text;
    transition: top 200ms ease-in, font-size 200ms ease-in;
    font-family: Manrope-Medium_0;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
}

.email:focus~.label-email,
.email:not(:placeholder-shown).email:not(:focus)~.label-email {
    top: 79px;
    font-family: Manrope-Medium_0;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.02em;


}

.email:focus {
    border-bottom: 2px solid #27D110;
}


.phone {
    width: 229.5px;
    border: none;
    border-bottom: 2px solid #C1C9D7;
    background-color: transparent;
    padding: 12px 0;
    outline: none;
    font-family: Manrope-SemiBold_0;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.02em;
    margin-left: 24px;
    margin-bottom: 26px;
}

.label-phone {
    position: absolute;
    top: 24%;
    left: 43.9%;
    cursor: text;
    transition: top 200ms ease-in, font-size 200ms ease-in;
    font-family: Manrope-Medium_0;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
}

.phone:focus~.label-phone,
.phone:not(:placeholder-shown).phone:not(:focus)~.label-phone {
    top: 79px;
    font-family: Manrope-Medium_0;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.02em;


}

.phone:focus {
    border-bottom: 2px solid #27D110;
}


.Subject {
    border: none;
    border-bottom: 2px solid #C1C9D7;
    background-color: transparent;
    padding: 12px 0;
    width: 483px;
    font-family: Manrope-SemiBold_0;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.02em;
    outline: none;
    margin-bottom: 26px;

}

.label-subject {
    position: absolute;
    top: 45%;
    left: 0px;
    cursor: text;
    transition: top 200ms ease-in, font-size 200ms ease-in;
    font-family: Manrope-Medium_0;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
}

.Subject:focus~.label-subject,
.Subject:not(:placeholder-shown).Subject:not(:focus)~.label-subject {
    top: 41%;
    font-family: Manrope-Medium_0;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: left;
}

.Subject:focus {
    border-bottom: 2px solid #27D110;
}

.message {
    border: none;
    border-bottom: 2px solid #C1C9D7;
    background-color: transparent;
    padding: 12px 0;
    width: 483px;
    font-family: Manrope-SemiBold_0;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.02em;
    outline: none;
    margin-bottom:48px;

}

.label-massage {
    position: absolute;
    top: 66%;
    left: 0px;
    cursor: text;
    transition: top 200ms ease-in, font-size 200ms ease-in;
    font-family: Manrope-Medium_0;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
}

.message:focus~.label-massage,
.message:not(:placeholder-shown).message:not(:focus)~.label-massage {
    top: 62%;
    font-family: Manrope-Medium_0;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: left;
}

.message:focus {
    border-bottom: 2px solid #27D110;
}

.contact-text button {
    font-family: Inter-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    background-color: #27D110;
    border-radius: 40px;
    border: 1px solid #000000;
    padding: 10.5px 20px;
    box-shadow: 3px 3px 0px 0px #000000;

}

.hello-there{
    width: 408px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 40px 32px;
    margin-left: 16px;
}

.contact-details{
    padding-right: 55px;
    margin-bottom: 40px;
}

.contact-details img {
margin-bottom: 40px;
}

.hello-there p:nth-child(2){
    font-family: Recoleta-SemiBold;
font-size: 40px;
font-weight: 600;
line-height: 54px;
letter-spacing: 0.01em;
text-align: left;
color: #000000;
margin-bottom: 12px;

}

.hello-there p:nth-child(3){
    font-family:Manrope-Medium_0;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0.01em;
text-align: left;
color: #000000CC;
}

.call-number{
    font-family: Sora-Regular;
font-size: 18px;
font-weight: 400;
line-height: 23px;
letter-spacing: -0.02em;
text-align: left;
color: #000000;
text-decoration: none;
margin-left: 18px;
margin-bottom: 32px;
}

.mail-id{
    font-family:  Sora-Regular;
font-size: 18px;
font-weight: 400;
line-height: 23px;
letter-spacing: -0.02em;
text-align: left;
color: #000000;
text-decoration: none;
margin-left: 18px;
margin-bottom: 32px;
}



.address{
    font-family:Sora-Regular;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.02em;
text-align: left;
color: #000000;
margin-left: 18px;
text-decoration: none;
}


/* section-3 */

h5{
    font-family:  Manrope-SemiBold_0;
font-size: 40px;
font-weight: 700;
line-height: 55px;
letter-spacing: 0em;
text-align: left;
color: #000000;
display: flex;
justify-content:center;
margin-top: 120px;
margin-bottom: 44px;
}
.dp-world{
    
    border-right: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}
.dp-world:hover{
    background-color:#FBFBFB
}


.smart{
    width: 316px;
    height: 184px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.smart:hover{
    background-color:#FBFBFB;
}

.al-fares{
    border-left: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}

.al-fares:hover{
    background-color:#FBFBFB;
}

.truker{
    border-right: 1px solid #E7E7E7;
}

.truker:hover{
    background-color:#FBFBFB;
}

.trans{
    border-right: 1px solid #E7E7E7;
    border-top: 1px solid #E7E7E7;
    margin-top: -1px;
}

.trans:hover{
    background-color:#FBFBFB;
}

.like-arrow:hover{
    background-color:#FBFBFB;
}

/* footer */

footer{
    background-color: #0A0F1E;
    position: relative;
    overflow: hidden;
}

.disign{
   
    background-color: #ffffff;
    height: 131px;
    width: 112%;
    border-radius: 0 0 50% 50%/ 0 0 95% 93%;
    position: absolute;
    right: -69px;
}

h6{
    font-family:Manrope-Bold_0;
font-size: 48px;
font-weight: 700;
line-height: 66px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
display: flex;
justify-content: center;
padding-top: 200px;
margin-bottom: 18px;
}

.talk-on{
    font-family: Manrope-Medium_0;
font-size: 32px;
font-weight: 500;
line-height: 44px;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
margin: auto;
margin-bottom: 78px;
}

.arrow{
    position: relative;
    top: 10px;
    margin-left: 8px;
}

.red-box{
    position: absolute;
    top: 87px;
    right: 0;
}

.contact-box{
    border-top: 1px solid #FFFFFF0D;
    padding-top: 54px;
    width: 85%;
    margin: auto;
}

.foot-logo{
    padding-right: 73px;
} 


.foot-contact p{
    font-family:Sora-Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
color: #FFFFFF;
margin-bottom: 4px;
}

.foot-contact p span{
    font-family:Sora-Medium;
font-size: 14px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.02em;
text-align: left;
color: #161B29;
background-color: #FFFFFF;
padding: 0 4px;
border-radius: 4px;
}

.call{
    font-family:Sora-Regular;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #27D110;
    text-decoration: none;

}

.contact-email{
    margin-left: 44px;
}

.contact-email p{
    font-family:Sora-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 6px;
}


.foot-email{
    font-family: Sora-Regular;
font-size: 22px;
font-weight: 400;
line-height: 40px;
letter-spacing: -0.02em;
text-align: left;
color: #27D110;
text-decoration: none;
}

.Social-media-i p{
    font-family:  Sora-Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
color:#FFFFFF;
margin-bottom: 5px;
}

.Social-media-i{
    margin-left: 47px;
    gap: 19px;
}

.fb{
    background: #FFFFFF1A;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.insta{
    margin-left: 19px;
}

.whatsapp{
    margin-left: 19px;
}

.copy{
font-family:Sora-Regular;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.02em;
text-align: left;
color: #FFFFFFCC;
display: flex;
justify-content: center;
margin-top: 50px;
padding-bottom: 18px;
}

.copy span{
    font-family:Sora-Medium;
font-size: 14px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.02em;
text-align: left;
color: #FFFFFF;
padding: 0 3px;
}